<div>
  <h1>Bugman</h1>
  <ul>
    <li>
      <a href="https://linkedin.com/in/william-bergamo-14822860" target="_blank">
        Linkedin
      </a>
    </li>
    <li>
      <a href="https://twitter.com/bugduino" target="_blank">
        Twitter
      </a>
    </li>
    <li>
      <a href="https://github.com/bugduino" target="_blank">
        Github
      </a>
    </li>
    <li>
      <a href="https://keybase.io/bugman" target="_blank">
        Keybase
      </a>
    </li>
  </ul>
</div>

<div>
  <h3>Projects</h3>
  <ul>
    <li>
      {{#link-to 'twocket'}}
        Twocket - live twitter stream on a map
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}
