{{#leaflet-map lat=lat lng=lng zoom=zoom maxZoom=maxZoom as |layers|}}
  {{layers.tile url=map.url attribution=map.attribution}}
  {{heatmap-layer data=model options=heatOptions}}

  {{!-- {{#marker-cluster-layer}}
    {{#each model as |tw|}}
      {{#marker-layer location=tw.coordinates.location as |marker|}}
        {{#popup-layer}}
          Foo
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/marker-cluster-layer}} --}}
{{/leaflet-map}}

{{!-- <div class="tweets--list">
  {{#each model as |msg|}}
    <p>MSG: {{msg.text}}</p>
  {{/each}}
</div> --}}
{{outlet}}
